
.washed-yellow { color: #FFFCEB }


body {
    background-color: #111111
}

.titlecolor{
  color: #FFFCEB
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #000000;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #000099;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
